@tailwind base;
@tailwind components;
@tailwind utilities;

.current {
    scale: 1.2;
    position: relative;
    z-index: 0;
}

.current::after{
    content: "🔽";
    color: green;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translate(50%);
}